body,
html {
  background: url(https://static1.squarespace.com/static/5739ee5f356fb0e48837c22c/t/5f96319366dc2c25080e2295/1603678613420/graveyard.jpg)
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  font-family: "Special Elite", cursive;
  text-align: right;
  color: #869f9c;
}
h3 {
  color: #fff;
  font-family: "Special Elite", cursive;
  font-size: 15px;
  text-align: center;
  margin: 0 auto;
}
ul {
  padding-inline-start: 25px;
}

li {
  list-style-type: none;
}

li:first-letter {
  text-transform: capitalize;
}

.source {
  display: block;
  font-size: 10px;
  text-align: center;
  margin: 0 auto;
  color: #ec6e4c;
}
.link {
  color: #ec6e4c;
}

.col-6 {
  font-family: monospace;
  font-size: 15px;
  color: #869f9c;
}

.temperature {
  color: #869f9c;
  line-height: 1;
}

.temperature strong {
  font-size: 60px;
  font-weight: 400;
  line-height: 1;
}

.clearfix img {
  margin-right: 20px;
}

.temperature .units {
  font-size: 20px;
  position: relative;
  top: -25px;
}
.temperature .active {
  color: #869f9c;
  cursor: default;
}
.temperature .active:hover {
  text-decoration: none;
}
.weather-app {
  max-width: 600px;
  margin: 30px auto 5px;
  padding: 20px 20px 10px 20px;
  border: 3px solid #000;
  border-radius: 6px;
  background: rgb(20, 29, 38);
  background: linear-gradient(
    90deg,
    rgba(20, 29, 38, 1) 15%,
    rgba(35, 52, 68, 1) 50%,
    rgba(20, 29, 38, 1) 85%
  );
}
.date {
  text-align: right;
  list-style-type: none;
  font-family: "Special Elite", cursive;
  color: #869f9c;
}
.info {
  text-align: right;
  list-style-type: none;
  color: #869f9c;
}
.skulls {
  color: #fff;
  list-style-type: none;
  font-size: 40px;
}
.btn-primary {
  color: #ec6e4c;
  background: black;
}
.btn-primary:hover {
  background: #ec6e4c;
  color: black;
}

.weather-forecast {
  margin-top: 10px;
}
.weather-forecast img {
  display: block;
  margin: 0 auto;
  height: 48px;
  width: 48px;
}
.weather-forecast-temp {
  text-align: center;
  color: #ec6e4c;
  font-size: 15px;
}
.other {
  color: #ec6e4c;
}

a:visited {
  color: #ec6e4c;
}
